@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
    box-sizing: border-box;
    color: #ff4532;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    background-color: #161616;
}

.heading-container {
    /* width: 80%; */
    width: 100%;
    margin: 1em auto;
    margin-top: 0px;
    text-align: center;
    font-size: 1.7em;
    padding: 1em 1.5em;
    color: whitesmoke;
    text-shadow: 2px 1px black;
    font-weight: 900;
    /* max-width: 750px; */
}

.content {
    height: 80vh;
}

.image-container {
    max-width: 720px;
    margin: 1em auto;
    position: relative;
    border: 5px solid black;
}

.image-container img {
    width: 100%;
}

.image-container div div a i {
    color: #1da1f2;
    font-size: 1.5em;
}

.image-container div {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: black;
    padding: 0.5em;
}

.footer {
    max-width: 750px;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    padding: 0 4em;
}

.footer button {
    padding: 0.3em 0.8em;
    width: 20vw;
    cursor: pointer;
    font-size: 1.5em;
    /* border: 2px solid black; */
    /* border-radius: 0.5em; */
    color: #ff4532;
    background-color: white;
    /* border: 0.5px solid white; */
    transition: all 0.5s ease;
    margin: 2%;
    margin-bottom: 3%;
}

.footer button:hover {
    letter-spacing: 0.02em;
    box-shadow: 0 0 15px 1px white;
    /* color: white; */
    background-color: #161616;
}

.footer button a {
    text-decoration: none;
    font-weight: 500;
}

@media only screen and (max-width: 480px) {
    .heading-container {
        width: 100%;
        margin: 0;
        font-size: 1em;
        border-radius: 0;
    }
    .image-container {
        margin: 5em auto;
        border: 2px solid black;
    }
    .image-container div {
        font-size: 0.8em;
    }
    button {
        font-size: 0.8em;
    }
}
